@font-face {
  font-family: digit;
  src: url(assests/DS-DIGIB.TTF);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #048384;
}
#window{
    box-sizing: content-box;
    width: 184px;
    padding: 2px;
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
    /* justify-content: center;    
    align-items: center; */
    gap: 2px;
    
    border-bottom: solid #797979 3px;
    border-right: 3px solid #797979;
    border-left: solid 3px #fffef7;
    border-top: solid 3px #fffef7;

}

#bar{
    width: 180px;
    height: 20px;
    background: linear-gradient(to right, #000080, #1084d0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-right: 4px;
}

#bar-left{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 2px;
}

#bar-right{
    display: flex;
    align-items: center;
}

#window-text{
    color: white;
    font-weight: 500;
}

#close-button{
    box-sizing: content-box;
    width: 12px;
    height: 8px;
    background-color: #bababa;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    cursor: pointer;
    margin-right: 0px;
    border-bottom: solid black 2px;
    border-right: 2px solid black;
    border-left: solid 2px #cbd4d5;
    border-top: solid 2px #cbd4d5;
}

#game-bar{
    width: 170px;
    height: 20px;
    margin-left: 10px;
    background-color: #c0c0c0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

#game-board{
    box-sizing: border-box;
    width: 180px;
    border-bottom: solid #797979 4px;
    border-right: 4px solid #797979;
    border-left: solid 4px #fffef7;
    border-top: solid 4px #fffef7;
    padding:8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center ;
}
    

#score-board{
    width: 152px;
    background-color: #c0c0c0;
    border-bottom: solid #fffef7 3px;
    border-right: 3px solid #fffef7;
    border-left: solid 3px #797979;
    border-top: solid 3px #797979;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#game-state{
    height: 32px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
}

.pressed{
    border-bottom: solid #797979 2px;
    border-right: 2px solid #797979;
    border-left: solid 2px #fffef7;
    border-top: solid 2px #fffef7;
}

#flag-count,#time{
    font-family: digit;
    font-size: 30px;
    color: red;
    background-color: black;
    border-bottom: solid #fffef7 3px;
    border-right: 3px solid #fffef7;
    border-left: solid 3px #797979;
    border-top: solid 3px #797979;

}

#board{
    display: grid;
    grid-template-columns: repeat(9,16px);
    grid-template-rows: repeat(9,16px);
    width: 144px;
    height: 144px;
    margin-top: 4px;
    background-color: grey;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid whitesmoke;
    border-bottom: 4px solid whitesmoke;
}